.InitiativeDiv {
    max-width: 70px!important;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    font-size: 3em;
    @include vertical {
        max-width: 35px !important;
        padding: 5px!important;
        margin: 0px!important;
    }
    .InitiativeButtonDiv {
        cursor:pointer;
        color: #777;
        &:hover {
            color:#000;
        }
    }
}
.CharacterDiv {
    position: relative;
    overflow: hidden;
    margin: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    float: left;
    border: 1px solid #000;
    min-width: 160px;
    height: 148px;
    text-align: center;
    @include vertical {
        min-width:110px;
    }
    .row {
        margin:0px -5px 0px -5px;
    }
    .MiddleDiv {
        position:relative;
        height:126px;
        .Name {
            height:75px;
            overflow:hidden;
            padding:15px 5px 5px 5px;
            font-size:1.1em;
            line-height:1.0em;
            div {
                padding:2px;
                &:hover {
                    color:#000 !important;
                }
            }
        }
        .Select {
            padding: 0px 10px 0px 10px;
            select {
                font-size:0.9em;
                text-align:center;
            }
        }
    }
    .bottom-character-row {
        border:1px solid #a0a0a0;
        border-width:1px 0px 0px 0px;
        background-color:#fff;

        .arrow {
            font-family: FontAwesome;
            height: 20px;
            width: 20px;
            text-align: center;
            cursor:pointer;
            color:#a0a0a0;
            &:hover {
                color:#7b7b7b;
            }
            span {
                &::before{
                    font-size:1.1em;
                    position:relative;
                    top:-2px;
                }
            }
        }
        .remove {
            line-height:0em;
            padding:0px;

            h5 {
                cursor: pointer;
                font-size:0.75em;
                color: #a0a0a0;
                width:75px;
                padding-top:3px;
                &:hover {
                    color:red;
                }
            }
        }
    }
}
.NewCharacter {
    cursor: pointer;
    float: left;
    height: 148px;
    width: 110px!important;
    min-width: 110px!important;
    text-align: center;
    border: 1px solid #888;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    padding-top: 40px;
    color: #888;
    &:hover {
        color:#000;
    }
}